/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'ProximaNova-Regular', sans-serif;
*/

:root {
    --gray: #777777;
    --black: #222222;
    --green: #46c672;
}

*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, a {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: var(--gray);
    overflow-x: hidden;
}

ul {
    list-style: none;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.green-text {
    color: var(--green);
}

.button {
    display: block;
    width: 200px;
    padding: 20px 0;
    margin: 0 auto;
    border-radius: 60px;
    background: var(--green);
    color: #fff;
    font-weight: bold;
    font-size: 0.875rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .1s linear background, .2s ease color;
}

.button:hover {
    background: #fff;
    color: #333333;
}

/* Header 
---------------------------------*/

.header-nav {
    margin: 45px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 430px;
}

.nav__item {
    list-style: none;
}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--gray);
    transition: .1s linear color;
}

.nav__link:hover {
    color: #000;
}

.header-intro {
    background: url('../img/header/background.jpg') no-repeat center;
    background-color: rgba(0, 0, 0, .75);
    background-blend-mode: soft-light;
    padding: 110px 0;
    text-align: center;
}

.header-intro__title {
    font-size: 60px;
    line-height: 1.1;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}

.header-intro__text {
    margin: 35px 0 50px;
    font-size: 1.25rem;
    color: #cccccc;
}

/* Block 
---------------------------------*/

.block {
    padding: 100px 0;
}

.block__main {
    text-align: center;
}

.block__title {
    font-size: 2.5rem;
    color: var(--black);
    text-transform: uppercase;
}

.block__title--white {
    color: #fff;
}

.block__subtitle {
    margin: 10px 0 90px;
    font-size: 1.25rem;
    color: var(--gray);
}

.block__features {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
}

.feature__item {
    width: 31%;
}

.feature__title {
    margin-top: 40px;
    font-size: 1.125rem;
    color: var(--black);
    text-transform: uppercase;
}

.feature__text {
    margin-top: 15px;
    font-size: 0.875rem;
    line-height: 1.5;
}

/* Relax
---------------------------------*/

.relax-block {
    display: flex;
    height: 616px;
}

.relax-left {
    flex-basis: 30%;
    background: #e9e9e9;
    position: relative;
}

.relax-right {
    flex-basis: 70%;
    background: url(../img/relax/relax_back.jpg) no-repeat;
    overflow: hidden;
    position: relative;
    background-color: rgba(0, 0, 0, .75);
    background-blend-mode: soft-light;
    padding: 100px 0 100px 100px   
}

.relax-left__gear {
    background: url(../img/relax/gear.png) no-repeat;
    width: 389px;
    height: 416px;
    top: 100px;
    right: -200px;
    position: absolute;
}

.relax-right__text {
    margin: 45px 0 25px;
    color: #cccccc;
    line-height: 1.5;
}

.relax-right__list {
    margin-left: 50px;
}

.relax-list__li {
    position: relative;
    margin-bottom: 25px;
    color: #cccccc;
}

.relax-list__li:last-child {
    margin-bottom: 0;
}

.relax-list__li:before {
    content: url(../img/relax/check.svg);
    position: absolute;
    top: 55%;
    transform: translate(-150%, -45%);
}

.button--relax {
    margin: 0;
    margin-top: 46px;
    width: 170px;
}

/* Latest Project
---------------------------------*/

.block--project {
    position: relative;
}

.project {
    width: 53%;
    z-index: 2;
}

.project-title {
    font-size: 1.125rem;
    color: var(--black);
}

.project-title--main {
    text-transform: uppercase;
}

.project-sup  {
    margin-top: 15px;
}

.project-sub {
    margin-bottom: 20px;
}

.project-sup, .project-sub {
    line-height: 1.5;
}

.project-list {
    margin-top: 15px;
}

.project-list__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.project-list__img {
    margin-right: 15px;
}

.project-link {
    font-weight: bold;
    color: var(--green);
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

.project-link:after {
    content: "";
    width: 15px;
    height: 12px;
    background: url(../img/latest_project/strelka.svg) no-repeat;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    transition: transform .3s ease;
}

.project-link:hover:after {
    transform: translate(150%, -50%);
}

.ipad {
    position: absolute;
    top: 255px;
    right: -480px;
    z-index: -1;
}

/* Culture
---------------------------------*/

.block--culture {
    background: #f9f9f9;
    position: relative;
}

.feature__title--culture {
    margin-top: 20px;
}

.culture-lines {
    display: flex;
}

.culture-line {
    display: block;
    width: 170px;
    height: 2px;
    position: absolute;
    top: 313px;
    background: var(--gray);
}

.culture-line--left {
    margin-left: 222px;
}

.culture-line--right {
    margin-left: 550px;
}


/* Clients
---------------------------------*/

.client {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.client:last-child {
    margin-bottom: 0;
}

.client--reverse {
    flex-direction: row-reverse;
}

.client__avatar {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: #f9f9f9;
}

.client__comment {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 640px; 
}

.client__comment--first {
    background: url(../img/clients/comment.png) no-repeat center left 0;
    margin-left: 25px;
    padding: 30px 40px 30px 60px;
}

.client__comment--second {
    background: url(../img/clients/comment2.png) no-repeat center right 0;
    margin-right: 25px;
    padding: 30px 60px 30px 40px;
}

.comment__text {
    margin-bottom: 20px;
    font-size: 1.375rem;
    line-height: 1.5;
}

.comment__author {
    font-size: 1.125rem;
    color: var(--green);
    text-align: center;
}

/* Clients
---------------------------------*/

.contacts-block {
    background: var(--green);
    padding: 70px 0;
    text-align: center;
    text-transform: uppercase;
}

.contacts__title {
    margin-bottom: 33px;
    font-size: 2.3rem;
    color: #fff;
}

.contacts__link {
    display: block;
    width: 180px;
    margin: 0 auto;
    padding: 15px 0;
    border: solid 3px #fff;
    border-radius: 7px;
    color: #fff;
    font-size: 1.125rem;
    font-weight: bold;
    text-decoration: none;
    transition: .1s color linear, .2s background ease;
}

.contacts__link:hover {
    background: #fff;
    color: var(--green);
}


/* Partners
---------------------------------*/

.partners-block {
    padding: 60px 0;
}

.partners {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 775px;
}

/* Footer
---------------------------------*/

/* Info */

.info {
    padding: 60px 0;
    background: var(--black);
}

.container--grid {
    display: grid;
    grid-template-columns: 290px 1fr 1fr;
    column-gap: 25px;
}

.info-list {
    padding-top: 25px;
}

.info-list__item {
    display: flex;
    align-items: center;
}

.info-list__item--start {
    align-items: flex-start;
}

.info-list__item--address {
    width: 150px;
}

.info-list__item + .info-list__item {
    margin-top: 15px;
}

.info-list__icon {
    width: 26px;
}

.fas:before, .far:before, .fab:before {
    color: #ececec;
}

.info-column__title {
    font-size: 1.125rem;
    color: #fff;
    text-transform: uppercase;
}

.info-list__text {
    margin-left: 25px;
    line-height: 1.5;
    color: #ececec;
}

.info-list__text--link {
    font-family: 'Roboto Slab', serif;
    transition: .1s color linear;
    text-decoration: none;
    color: #ececec;
}

.info-list__text--link:visited {
    color: #ececec;
}

.info-list__text--link:hover {
    color: var(--green);
}

.info-list__tag {
    font-weight: bold;
}

.info-list__time {
    font-size: 0.85rem;
}

/* Copyright */

.copyright {
    padding: 30px 0;
}

.copyright__inner {
    display: flex;
    align-items: center;
}

.copyright__text {
    margin-right: 120px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    color: #777777;
}

.copyright__links {
    width: 195px;
    display: flex;
    justify-content: space-between;
}

.copyright__li {
    display: block;
    padding: 13px 0;
    width: 43px;
    height: 43px;
    background: var(--black);
    border-radius: 50%;
    text-align: center;
    transition: .1s background linear;
}

.copyright__li--twitter:hover {
    background: #00aced;
}

.copyright__li--facebook:hover {
    background: #3b5998;
}

.copyright__li--pinterest:hover {
    background: #b90a12;
}

.copyright__li--google:hover {
    background: #da3213;
}
